################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assignment1Skeleton/ModernAppliances/.vs/A1ModernAppliances/FileContentIndex/60cbc7a7-fb14-4cc8-8a98-078ab26a510d.vsidx
